@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .custom-shape-divider-top-1714647113 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -10;
  }

  .custom-shape-divider-top-1714647113 svg {
    position: relative;
    display: block;
    width: calc(187% + 1.3px);
    height: 439px;
    transform: rotateY(180deg);
  }

  .custom-shape-divider-top-1714647113 .shape-fill {
    fill: #faa363;
  }
}
